
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body {
    font-family:'Yellowtail';
}

body {
    background-color:blanchedalmond;
}


p {
    font-family: 'Yellowtail';
    font-size: x-large;
}
